.form-layout {
    width: 400px;
    margin: auto;
    background-color: #333;
    border-radius: 6px;
}
.form-container {
    padding: 1.5rem 2rem;
}
.sign-in-txt {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

form input {
    display: block;
    width: 100%;
    margin: 1.2rem 0;
    padding: .5rem;
    border: 1px solid var(--lightgrey);
    background: var(--white);
    border-radius: 4px;
}

button {
    width: 55%;
    padding: 8px 0;
    border-radius: 4px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(#333);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}